<h2>@course.name</h2>
<span><%= link "Add Chapter", to: course_path(@conn, :add_chapter, @course) %> </span>
<span><%= link "Back", to: course_path(@conn, :index) %>  %></span>
<%= render "form.html", Map.put(assigns, :action, course_path(@conn, :update, @course)) %>

<span><%= link "Back", to: course_path(@conn, :index) %></span>
